* {
  box-sizing: border-box;
}
header {
    font-family: Copperplate, Papyrus, fantasy;
    position: absolute;
    top: 0;
    margin : 10px;
    
}
background-color{
    background:#B0C4DE;
}
.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 50px;
    left: 16px;
    font-size: 18px;
}

.topp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img {
    width: 50px;
    height: 50px;
}
body  {
    font-family: Copperplate, Papyrus, fantasy;
    background:#001f3f;
    width : 725px;
}
body-img {
    border: 5px solid blue;
    img-shadow: 3px 3px 5px rgba(60, 60, 60);
}
h1 {
    height: 500px;
    width: 845px;
    padding : 10 px;
}
h2 {
    height: 90px;
    width: 65px;
    padding : 10 px;
}
p {
    height: 70px;
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
}
figcaption {
    padding: 20px
    margin : 10px
}

footer {
    padding: .5em 0 .25em;
    border-bottom: 3px solid black;
    margin-bottom: 0;

}
p.small {
    line-height: 0.4px;
}

p.big {
    line-height: 2;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
