
header {
    font-family: Copperplate, Papyrus, fantasy;
    position: absolute;
    top: 0;
    margin : 10px;
    
}
body  {
    width : 725px;
    background: rgb(153, 174, 174);
    
}
.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 50px;
    left: 16px;
    font-size: 18px;
}

.topp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    height: 500px;
    width: 845px;
    padding : 10 px;
}

h2 {
    height: 90px;
    width: 65px;
    padding : 10 px;
}
p {
    height: 70px;
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 120px;
    height: 120px;

}

img2 {
    width: 120px;
    height: 120px;

}
section {
    padding: 10px;
}

p.small {
    line-height: 0.4;
}

p.big {
    line-height: 2;
}

figure {
    figure-width: 120px; 
    figure-height: 120px; 
    background-position: center;
    border-radius: 10px; 
    box-shadow: 0 0 50px 20px rgb(131, 129, 129); 
    margin: 20px;
}
figcaption {
    padding: 20px
    margin : 10px
}
