* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: white;
}
body {
    border: 3px solid #AAAAAA;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 700px;
}
a { 
    font-weight: bold; 
}
a:link { 
    color: #b8c1d1; 
}
a:visited { 
    color: #320e3a; 
}
a:hover, a:focus { 
    color: #b8c1d1; 
}
topnav {
    padding: 1.5em 0 2em 0;
    overflow: hidden;
    background-color: #0a2342;
      opacity: 0.5;
}
topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.2em 2em .2em 2em;
}
topnav a.current{
    color: #8d99af ;
}
topnav a:hover {
    background-color: #ddd;
    color: black;
}
top-nav logo {
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
    position: absolute;
}
topnav::before,
topnav::after {
    content: "|";
    align-items: center;
    color: #0a2342;
    font-size: 24px;
    padding: 100px 100px;
}
top-nav logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h2 {
    font-size: 175%;
    color: black;
}
h3 {
    font-size: 130%;
    font-style: italic;
}
ul {
    margin: 0 0 1.5em;
}
li { 
    font-size: 95%;
    padding-bottom: .35em;
}
p { font-size: 95%;
    padding: .25em 0;
}
content {
    padding: 20px 40px 20px 40px;
    background-color: #778DA9;
}
content h1{
    color: #008028;
    font-size: 150%;
    padding-top: .5em;
}
content img {
    position: block;
    border: 1px solid black;
}
footer {
    text-align: center;
    background-color: #bbd6f5;
    padding: 2em 0;
}
footer p {
    text-align: center;
    color: white;
    padding: 2em 0;
}
p.small {
    line-height: 0.4px;
}
p.big {
    line-height: 2;
}
shadow {
    text-shadow: 2px 2px 2px #800031;
}
