* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    background-color: #F8F0FB;
    height: max-content;
    border: solid 5px #0D1B2A;
    display: block;
}
body {
    margin:0;
    padding: 0;
    font-size: 100%;
    height:fill;
    width: max;
}
center {
    margin: auto;
    border: 3px solid #73AD21;
    padding: 10px;
}

footer {
    display: flex;
    align-items: stretch;
    background: #1B263B;
    text-align: left;
    height: fit-content;
    margin-top: auto;
    flex-wrap: nowrap; /* Ensure content is in a single row */
}

footer .kow {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; /* Ensure content is in a single row */
    width: 100%;
    gap: 10px; /* Adjust the gap between cards as needed */
}

footer .kolumn {
    flex: 1 1 calc(25% - 10px); /* Each column takes up 25% of the width minus the gap */
    margin: 1em;
}

footer .kard {
    margin: 0 auto; /* Center the card horizontally */
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10%;
    background-color: #F8F0FB;
    text-wrap: nowrap;
    height: 90%;
    width: 100%;
    overflow: hidden; /* Hide overflow content */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words */
}

footer .kard h3 {
    margin: 4%;
    flex-direction: column;
    font-size: 160%;
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words */
}

footer .kard p {
    font-size: 100%;
    margin: 5%;
    padding: 1%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}
footer .img-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10%; 
    width: 100%; /* Set a fixed width */
    height: 100%; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fits within the dimensions without distortion */
    justify-content: center;
    padding: 10%;
}

footer .img-grid img {
    justify-content: center;
    padding: 20% 20% 20% 20%;
    max-width: 50%;
    height: auto;
}

footer h3 {
    font-size: 2em;
    margin-bottom: 10%;
    color: #000000;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
    color: #1F2041;
    margin: 5% 0;
}
footer form {
    display: flex;
    width: 90%;
    flex-direction: column;
}

footer input[type="email"] {
    width: 90%; /* Increased padding for a bigger input box */
    border: 1% solid #ccc;
    border-radius: 5%;
    font-size: 1%;
}

footer button {
    display: inline-block;
    border: none;
    margin: none;
    cursor: pointer;
    font-size: 1em; /* Reduced font size for a smaller button */
}
footer a{
    color: #1F2041;
    text-decoration: none;
}
footer a:hover {
    background-color: #F4BBD3;
}

footer  .active a {
    color: #C2DFFF;
    text-decoration: none;
}

footer a:hover:not(.active) {
    text-decoration: underline #615c5c;
    background-color: rgba(171, 199, 255, 0.43);
}
.active {
    text-underline-offset: 3px;
}
@media (max-width: 1000px) {
    footer .kard h3 {
        font-size: 1.3em;
    }
}
@media (max-width: 828px) {
    footer {
        display: flex;
        padding:10%;
    }

    footer .kow {
        flex-direction: column;
        max-height: 10%;
    }
    footer .kolumn:nth-child(3) {
        flex: 1 1 100%;
    }

    footer .kard {
        display: flex;
        flex-direction: column;
    }   

    footer .kard > div {
        background-color: #f1f1f1;
        width: 80%;
        text-align: center;
    }
    footer .kard h3 {
        font-size: 2em;
        text-align: center;
        padding: 1%;
        margin: 1%;
        
    }
    footer .kard p {
        font-size: 1.2em;
        line-height: .1;
        justify-self: left; 
        padding:3%;
    }
}   
@media (max-width: 428px) { 
    footer .kard h3 {
        font-size: 1.2em;
        text-align: center;
    }
    footer .kard p {
        font-size: .9em;
        line-height: .1;
        justify-self: left; 
        padding:3%;
    }
} 